{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container  mt-4 text-center ">
        <h1>Voir tous les biens.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, tempora vitae? Ab accusantium doloremque
            eius est expedita, facilis fuga hic illum molestiae omnis possimus praesentium quaerat, saepe, sapiente sed
            sit totam ullam ut!</p>

        <div class="row">
            {% for property in properties %}
                <div class="col-md-3">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>


{% endblock %}
